site_name: QCManyBody Documentation
site_url: https://molssi.github.io/QCManyBody/

repo_name: MolSSI/QCManyBody
repo_url: https://github.com/MolSSI/QCManyBody
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2024 QCManyBody Developers

theme:
  name: material
  logo: logo.png
  favicon: logo.png
  features:
    - navigation.tabs

  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: custom
    #accent: pink
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: custom
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"

extra_css:
  - stylesheets/extra.css

plugins:
- search
- autorefs
- mkdocstrings:
    default_handler: python
    enable_inventory: true
    handlers:
      python:
        paths: [.]
        options:
          docstring_style: numpy
          allow_inspection: true
          members_order: source
          separate_signature: true
          filters: ["!^_"]
          docstring_options:
            ignore_init_summary: true
          merge_init_into_class: true
          show_signature_annotations: true
          signature_crossrefs: true
          show_source: true
        import:
          - https://docs.python.org/3/objects.inv
          - https://numpy.org/doc/stable/objects.inv
          - https://docs.scipy.org/doc/scipy/objects.inv
          - https://matplotlib.org/stable/objects.inv
          - https://molssi.github.io/QCElemental/objects.inv
          - https://molssi.github.io/QCEngine/objects.inv
          - https://molssi.github.io/QCFractal/objects.inv

markdown_extensions:
  - mdantic_v1
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - high-level-interface.md
  - core-interface.md
  - QCSchema: qcschema.md
  - How-To Guides: how-to-guides.md
  - API Documentation: api.md
